@media (min-width : 480px)  and (max-width : 767px) {
    body{
        width: 480 px;
        margin: auto;
    }  
   .a{
        width: 480px;
        height: 75px;
        line-height: 75px;
        
    }
   .b{
        float: left;
        width: 480px ;
        height: 150px;
        line-height: 150px;
    }
   .c,.d{
        display: inline-block;
        width: 480px;
        height: 125px;
        line-height: 125px;
       
        
    }
   
   .e,.f,.g,.h{
        width: 240px ;
        height: 250px;
        line-height: 250px;
        float: left;
    }
    
   .i{
        width: 480px;
        height: 150px;
        line-height: 150px;
        float: left;
       
   }
   .a ,.b ,.c , .d ,.e ,.f , .g , .h  {
       border-bottom: 0px;
   }
   .e ,.g {
       border-right:0px ;
   }
}