@media (min-width : 480px)  and (max-width : 767px) {
    
    body{
        width: 482px;
        margin: auto;
    }  
    main {
        display: grid;
        grid-template-rows: repeat(7,minmax(200px ,1fr));
        grid-template-columns:repeat(2, minmax(190px ,1fr)) ;
        
        
    } 
    div {
        display: grid;
       justify-content: center;
        align-items: center;
    } 
   .a{
        /* width: 480px;
        height: 75px;
        line-height: 75px; */
        grid-row: unset;
        grid-column: span 2;
        
    }
   .b{
        /* float: left;
        /* display:inline-block; */
        /* width: 480px ;
        height: 150px;
        line-height: 150px;  */
        grid-row: unset;
        grid-column: span 2;
    }
   .c,.d{
       /* float: left; */
       /* clear: both; */
        /* display: inline-block; */
        /* width: 480px;
        height: 125px;
        line-height: 125px; */
        grid-row: unset;
        grid-column: span 2;
        
    }

    /* .g {
        clear:left ;
    } */
   
    .g,.h{
        grid-row: unset;
        grid-column: unset;
    }
   .e,.f{
        /* width: 240px ;
        height: 250px;
        line-height: 250px;
        float: left; */
        /* display: inline-block; */
        grid-row: unset;
        grid-column: unset;
    }
    
    
   .i{
        /* width: 480px;
        height: 150px;
        line-height: 150px; */
        /* float: left; */
        /* display: inline-block; */
        grid-row: unset;
        grid-column: span 2;
       
   }
   .a ,.b ,.c , .d ,.e ,.f , .g , .h  {
       border-bottom: 0px;
   }
   .e ,.g {
       border-right:0px ;
   }
   div {
    background-color: rgb(219, 10, 73);
  }

  .a {
    background-color: rgb(106, 119, 105);
}
  .b {
    background-color: rgb(180, 16, 180);
}
  .c {
    background-color: tomato;
}
  .d {
    background-color: rgb(119, 17, 102);
}
  .e {
    background-color: rgba(216, 25, 216, 0.425);
}
  .f {
    background-color: rgb(24, 185, 110);
}
  .g {
    background-color: rgb(16, 168, 105);
}
  .h {
    background-color: rgb(20, 166, 185);
}
  .i {
    background-color: rgb(18, 21, 167);
}

}

@media (min-width : 767px)  and (max-width : 1024px) {
    
    body{
        width: 767px;
        margin: auto;
    }  
    main {
        display: grid;
        grid-template-rows: repeat(7,minmax(200px ,1fr));
        grid-template-columns:repeat(2, minmax(190px ,1fr)) ;
        
        
    } 
    div {
        display: grid;
       justify-content: center;
        align-items: center;
    } 
   .a{
        /* width: 480px;
        height: 75px;
        line-height: 75px; */
        grid-row: unset;
        grid-column: span 2;
        
    }
   .b{
        /* float: left;
        /* display:inline-block; */
        /* width: 480px ;
        height: 150px;
        line-height: 150px;  */
        grid-row: unset;
        grid-column: span 2;
    }
   .c,.d{
       /* float: left; */
       /* clear: both; */
        /* display: inline-block; */
        /* width: 480px;
        height: 125px;
        line-height: 125px; */
        grid-row: unset;
        grid-column: span 2;
        
    }

    /* .g {
        clear:left ;
    } */
   
    .g,.h{
        grid-row: unset;
        grid-column: unset;
    }
   .e,.f{
        /* width: 240px ;
        height: 250px;
        line-height: 250px;
        float: left; */
        /* display: inline-block; */
        grid-row: unset;
        grid-column: unset;
    }
    
    
   .i{
        /* width: 480px;
        height: 150px;
        line-height: 150px; */
        /* float: left; */
        /* display: inline-block; */
        grid-row: unset;
        grid-column: span 2;
       
   }
   .a ,.b ,.c , .d ,.e ,.f , .g , .h  {
       border-bottom: 0px;
   }
   .e ,.g {
       border-right:0px ;
   }
   

    .a {
      background-color: teal;
  }
    .b {
      background-color: thistle;
  }
    .c {
      background-color: tomato;
  }
    .d {
      background-color: turquoise;
  }
    .e {
      background-color: violet;
  }
    .f {
      background-color: wheat;
  }
    .g {
      background-color: white;
  }
    .h {
      background-color: yellow;
  }
    .i {
      background-color: yellowgreen;
  }
}