@media (min-width : 1024px)   {
    body{
        width: 960px;
        margin: auto;
    }
    main {
        display: grid;
        grid-template-rows: repeat(4,minmax(200px ,1fr));
        grid-template-columns:repeat(5, minmax(190px ,1fr)) ;
        
        
    } 
    div {
        display: grid;
       justify-content: center;
        align-items: center;
    } 
   .a{
        /* width: 960px;
        height: 100px;
        line-height: 100px; */

        border-bottom: 0;
        grid-row: unset;
        grid-column: span 5;
       
    }
   .b{
       grid-row: span 3;
       grid-column: span 1;
        /* float: left;
        width: 200px ;
        height: 600px;
        line-height: 600px; */
    }
   .c,.d{
        /* display: inline-block;
        width: 380px;
        height: 200px;
        line-height: 200px; */
        border-left: 0;
        grid-column: span 2;
        grid-row: unset;
        
    }
    /* .c {
        float: left;
    } */
   
    .e,.f,.g,.h {
        /* width: 190px ;
        height: 250px;
        line-height: 250px;
        float: left; */ 
        border-left:0;
        border-top: 0;
        grid-column: unset;
        grid-row: unset ;
    
    }
    
   
   .i{
        /* width: 760px;
        height: 150px;
        line-height: 150px;
        float: left; */
        border-top: 0;
        border-left: 0;
        grid-row: unset;
        grid-column: span 4;
       
   }
   div {
    background-color: rgb(13, 121, 230);
  }

  .a {
    background-color: rgb(54, 15, 228);
}
  .b {
    background-color: rgb(243, 13, 243);
}
  .c {
    background-color: rgba(22, 180, 219, 0.315);
}
  .d {
    background-color: rgb(161, 13, 180);
}
  .e {
    background-color: rgb(186, 196, 189);
}
  .f {
    background-color: rgb(16, 81, 165);
}
  .g {
    background-color: rgba(201, 13, 28, 0.253);
}
  .h {
    background-color: rgba(158, 16, 201, 0.658);
}
  .i {
    background-color: rgb(64, 70, 77);
}

}