@media (min-width : 767px)   {
    body{
        width: 960px;
        margin: auto;
    }  
   .a{
        width: 960px;
        height: 100px;
        line-height: 100px;
        border-bottom: 0;
    }
   .b{
        float: left;
        width: 200px ;
        height: 600px;
        line-height: 600px;
    }
   .c,.d{
        display: inline-block;
        width: 380px;
        height: 200px;
        line-height: 200px;
        border-left: 0;
        
    }
    .c {
        float: left;
    }
   
   .e,.f,.g,.h{
        width: 190px ;
        height: 250px;
        line-height: 250px;
        float: left;
        border-left:0;
        border-top: 0;
    }
    
   
   .i{
        width: 760px;
        height: 150px;
        line-height: 150px;
        float: left;
        border-top: 0;
        border-left: 0;
   }
}